@media (max-width: 1200px) {
  .menu {
    &__link {
      padding: 8px;
      font-size: 22px;
    }
  }

  .slider {
    &__title {
      font-size: 34px;
    }

    &__descr {
      font-size: 22px;
      line-height: 24px;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 992px) {
  .news {
    &__item-img {
      width: 175px;
    }
  }
}

@media (max-width: 900px) {
  .header {
    &__title {
      font-size: 26px;
      line-height: 26px;
    }

    &__tagline {
      font-size: 24px;
      line-height: 24px;
    }
  }

  .menu {
    &__link {
      font-size: 18px;
    }
  }

  .slider {
    &__text {
      padding-left: 40px;
    }

    &__title {
      font-size: 28px;
      line-height: 28px;
      margin-bottom: 10px;
    }

    &__descr {
      font-size: 18px;
      line-height: 18px;
      margin-bottom: 10px;
    }

    .slick {
      &-arrow {
        border: 2px solid $primary;
        width: 30px;
        height: 30px;

        img {
          width: 12px;
        }
      }

      &-dots {
        bottom: 10px;

        button {
          border: 2px solid $primary;
          width: 10px;
          height: 10px;
          margin: 0 5px;
        }

        button:hover {
          background-color: $primary;
          border: 2px solid $light-accent;
        }
      }

      &-active button {
        background-color: $primary;
        border: none;
      }
    }
  }

  .promo {
    &__title {
      font-size: 24px;
    }
  }

  .news {
    &__items {
      display: block;
    }
  }
}

@media (max-width: 767px) {
  .header {
    &__menu {
      border: none;
    }

    &__search-form {
      display: none;
    }
  }

  .logo {
    &__img {
      width: 150px;
    }
  }

  .burger {
    position: relative;
    width: 25px;
    height: 25px;
    display: block;
    cursor: pointer;
    z-index: 10000;

    &__btn,
    &::before,
    &::after {
      position: absolute;
      height: 3px;
      width: 100%;
      border-radius: 3px;
      background-color: $light-accent;
      transition: 0.3s;
    }

    &__btn {
      top: 11px;
    }

    &::before {
      content: "";
      top: 2px;
    }

    &::after {
      content: "";
      bottom: 2px;
    }

    &.active &__btn {
      opacity: 0;
    }

    &.active::before {
      background-color: $primary;
      top: 11px;
      transform: rotate(45deg);

    }

    &.active::after {
      background-color: $primary;
      bottom: 11px;
      transform: rotate(-45deg);

    }
  }

  .menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    align-items: baseline;
    background-color: $light-accent;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: 0.5s;
    transform: translateX(-100%);
    font-weight: 700;

    &--active {
      transform: translateX(0%);
    }

    &__list {
      position: relative;
      flex-direction: column;
      align-items: center;
      z-index: 0;
      width: 90%;
      max-height: 100%;
      margin: 0 auto;
      overflow: hidden;
      border-radius: 20px;
      overflow-y: auto;
      background: rgba(255, 255, 255, 0.50);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(10.0px);
      -webkit-backdrop-filter: blur(10.0px);
      border: 1px solid rgba(255, 255, 255, 0.18);
    }

    &__item {
      width: 100%;
      text-align: left;
      padding-right: 0;
      background: none;

      &--has-submenu>.menu__link {
        position: relative;

        &::before,
        &::after {
          content: '';
          position: absolute;
          width: 10px;
          height: 3px;
          background-color: $font-color;
          top: 20px;
          transition: all .3s;
        }

        &::before {
          right: 20px;
          transform: rotate(45deg);
        }

        &::after {
          right: 15px;
          transform: rotate(-45deg);
        }

        &--pressed {
          color: $accent;

          &::before {
            transform: rotate(-45deg);
          }

          &::after {
            transform: rotate(45deg);
          }
        }
      }
    }

    &__link {
      white-space: normal;
    }

    .submenu {
      position: relative;
      border-radius: 0;
      padding-left: 20px;
      overflow: hidden;
      background: none;
      box-shadow: none;
      backdrop-filter: none;
      border: none;
    }

    .submenu--opened {
      clip: auto;
      width: auto;
      height: auto;
      margin-top: 0;
      opacity: 1;
    }

    .submenu &__item {
      box-shadow: none;
    }

    .submenu &__item>&__list {
      position: relative;
      top: auto;
      left: auto;
    }
  }

  .promo {
    &__items {
      flex-direction: column;
      align-items: center;
    }

    &__item {
      width: 65%;
    }

    &__item+&__item {
      margin-top: 20px;
    }

    &__item::after {
      right: 20px;
      width: 90px;
    }

    &__title {
      margin: 10px 0;
      font-size: 28px;
    }
  }

  .footer__logo {
    width: 80px;
  }
}

@media (max-width: 600px) {
  .header {
    &__logo {
      flex-direction: column;
    }

    &__title {
      font-size: 18px;
      line-height: 18px;
    }

    &__tagline {
      font-size: 16px;
      line-height: 16px;
    }
  }

  .logo {
    &__img {
      margin-bottom: 15px;
    }
  }

  .slider {
    display: none;
  }

  .promo {
    margin-top: 0;

    &__item {
      width: 100%;
    }

    &__item::after {
      right: 20px;
      width: 90px;
    }

    &__title {
      margin: 10px 0;
      font-size: 28px;
    }
  }

  .news {
    &__item-img {
      width: 130px;
    }
  }

  .footer {
    &__inner {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    &__menu-item {
      margin-top: 20px;
    }
  }
}

@media (max-width: 400px) {
  .header__hotline {
    width: 150px;
  }

  .news {
    &__item-img {
      display: none;
    }

    &__item-text {
      margin-left: 0;
    }
  }
}