@media (max-width: 1200px) {
  .menu {
    &__link {
      padding: 8px;
      font-size: 22px;
    }
  }

  .slider {
    &__title {
      font-size: 34px;
    }

    &__descr {
      font-size: 22px;
      line-height: 24px;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 900px) {
  .header {
    &__title {
      font-size: 26px;
      line-height: 26px;
    }

    &__tagline {
      font-size: 24px;
      line-height: 24px;
    }
  }

  .menu {
    &__link {
      font-size: 18px;
    }
  }

  .slider {
    &__text {
      padding-left: 40px;
    }

    &__title {
      font-size: 28px;
      line-height: 28px;
      margin-bottom: 10px;
    }

    &__descr {
      font-size: 18px;
      line-height: 18px;
      margin-bottom: 10px;
    }

    .slick {
      &-arrow {
        border: 2px solid $primary;
        width: 30px;
        height: 30px;

        img {
          width: 12px;
        }
      }

      &-dots {
        bottom: 10px;

        button {
          border: 2px solid $primary;
          width: 10px;
          height: 10px;
          margin: 0 5px;
        }

        button:hover {
          background-color: $primary;
          border: 2px solid $light-accent;
        }
      }

      &-active button {
        background-color: $primary;
        border: none;
      }
    }
  }

  .promo {
    &__title {
      font-size: 24px;
    }
  }
}

@media (max-width: 767px) {
  .header {
    &__menu {
      border: none;
    }

    &__search-form {
      display: none;
    }
  }


  .burger {
    position: relative;
    width: 25px;
    height: 25px;
    display: block;
    cursor: pointer;

    &__btn,
    &::before,
    &::after {
      position: absolute;
      height: 3px;
      width: 100%;
      background-color: $light-accent;
      transition: 0.3s;
    }

    &__btn {
      top: 11px;
    }

    &::before {
      content: "";
      top: 2px;
    }

    &::after {
      content: "";
      bottom: 2px;
    }

    &.active &__btn {
      opacity: 0;
    }

    &.active::before {
      transform: rotate(45deg);
      top: 11px;
    }

    &.active::after {
      transform: rotate(-45deg);
      bottom: 11px;
    }
  }

  .menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 30%;
    height: 100vh;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    transition: 0.5s;
    transform: translateX(-100%);

    &--active {
      transform: translateX(0%);
    }

    &__list {
      flex-direction: column;
      align-items: center;
    }

    &__item {
      width: 100%;
      text-align: left;
      padding-right: 0;

      box-shadow: inset 0 0 0 1px rgba($font-color, 0.25);
    }

    &__item--pressed {
      background-color: $primary;
    }

    .submenu {
      position: relative;
    }

    .submenu--opened {
      clip: auto;
      width: auto;
      height: auto;
      margin-top: 0;
      opacity: 1;
    }

    .submenu &__item>&__list {
      position: relative;
      top: auto;
      left: auto;
    }
  }

  .promo {
    &__items {
      flex-direction: column;
      align-items: center;
    }

    &__item {
      width: 65%;
    }

    &__item+&__item {
      margin-top: 20px;
    }

    &__item::after {
      right: 20px;
      width: 90px;
    }

    &__title {
      margin: 10px 0;
      font-size: 28px;
    }
  }

  .footer__logo {
    width: 80px;
  }
}

@media (max-width: 600px) {
  .header {
    &__logo {
      flex-direction: column;
    }

    &__title {
      font-size: 18px;
      line-height: 18px;
    }

    &__tagline {
      font-size: 16px;
      line-height: 16px;
    }
  }

  .logo {
    &__img {
      margin-bottom: 15px;
    }
  }

  .slider {
    display: none;
  }

  .promo {
    &__item {
      width: 100%;
    }

    &__item::after {
      right: 20px;
      width: 90px;
    }

    &__title {
      margin: 10px 0;
      font-size: 28px;
    }
  }

  .footer {
    &__inner {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    &__menu-item {
      margin-top: 20px;
    }
  }
}

@media (max-width: 400px) {
  .header__hotline {
    width: 150px;
  }
}