@import "vars";
@import "fonts";

// .element {
//   /* Позиционирование */
//   position: relative;
//   left: 0;
//   right: 0;
//   top: 0;
//   bottom: 0;

//   /* Блочная модель */
//   display: flex;
//   align-items: center;
//   margin: 10px;
//   padding: 10px 20px;
//   border: 1px solid red;
//   width: 200px;
//   height: 100px;
//   box-sizing: border-box;

//   /* Типографика */
//   font-family: Arial;
//   font-size: 25px;
//   font-style: italic;
//   text-decoration: none;
//   color: red;

//   /* Оформление */
//   background: red;
//   opacity: 1;

//   /* Анимации */
//   transform: translateX(5px);
//   animation: shake 0.3s infinite;
// }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;

  &::after,
  &::before {
    box-sizing: inherit;
  }
}

ul,
li {
  list-style: none;
}

.body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100vh;
  font-family: $main-font, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: $font-color;
  background-color: $white;

  &--disable {
    overflow: hidden;
  }
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1170px;

  &--with-sidebar {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 3fr 1fr;
    row-gap: 20px;
    column-gap: 40px;
  }
}

@import "components/title";
@import "components/link";
@import "components/btn";
@import "components/breadcrumbs";

@import "header/header";
@import "header/burger";
@import "header/menu";
@import "header/logo";

@import "slider/slider";

@import "promo/promo";

@import "news/news";

@import "contacts/contacts";
@import "single/single";
@import "sidebar/sidebar";
@import "sidebar/latest-news";

@import "footer/footer";

@import "components/scrollup";
