@import "vars";
@import "fonts";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // outline: none;

  &::after,
  &::before {
    box-sizing: inherit;
  }
}

img {
  display: block;
}

ul,
li {
  list-style: none;
}

body {
  font-family: $main-font, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: $font-color;
  background-color: $white;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &--disable {
    overflow: hidden;
    max-height: 100vh;
  }
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1230px;
}

.main {
  flex-grow: 1;

  &__inner {
    display: flex;
    column-gap: 40px;
    margin-bottom: 50px;
  }
}

@media (max-width: 992px) {
  .main__inner {
    flex-direction: column;
  }
}

@import "components/title";
@import "components/link";
@import "components/btn";
@import "components/breadcrumbs";
@import "components/404";

@import "header/header";
@import "header/burger";
@import "header/menu";
@import "header/logo";

@import "slider/slider";

@import "promo/promo";

@import "news/news";

@import "contacts/contacts";
@import "single/single";
@import "single/post-media";
@import "sidebar/sidebar";
@import "sidebar/contact-us";
@import "sidebar/latest-news";

@import "footer/footer";

@import "components/scrollup";