/* активный переключатель, положение вверх */
.contacts__item--active .contacts__title:before {
  border: 2px solid #fefcfe;
  border-left-width: 0;
  border-bottom-width: 0;
  top: 18px;
}

/* заголовок активного блока  */
.contacts__item--active .contacts__title {
  background: #e7b350;
  color: #fefcfe;
}

/* контент */
.contacts__content {
  display: none;
  padding: 10px 15px;
  overflow: hidden;
  background: #f7f8f7;
}
