//fonts
$main-font: "Roboto Condensed";
$title-font: "Roboto";

//colors
$font-color: #444;
$flag-color: #1c808a;
// $flag-color: #0097A7;
// $flag-color: #4fb5c1;
$white: #f5f5f5;
// $primary: #1c808a;
// $primary: #e2a42c;
$primary: #dd9a23;
$accent: #e31e24;
$light-accent: #f6ce52;
