.slider {
  &__item {
    position: relative;
    background: linear-gradient(90deg, rgba($flag-color, 1) 46%, rgba($flag-color, 0) 55%);
  }

  &__img {
    position: relative;
    width: 55%;
    float: right;
    z-index: -1;
  }

  &__text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45%;
    padding-left: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $light-accent;
    // text-shadow: $primary 3px 3px 0;
  }

  &__title {
    margin-bottom: 30px;
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
  }

  &__descr {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 30px;
  }

  .slick {
    &-arrow {
      margin-left: 10px;
      position: absolute;
      top: 20%;
      cursor: pointer;
      border: none;
      background-color: transparent;
      z-index: 100;
      transform: translateY(-50%);
      // margin-left: 5px;

      svg {
        transition: ease 0.5s;
        width: 30px;
        fill: $primary;
      }

      &:hover {
        svg {
          fill: $light-accent;
        }
      }
    }

    &-next {
      top: 80%;
      transform: translateY(-50%) rotate(180deg);
    }

    &-dots {
      position: absolute;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 101;

      button {
        font-size: 0;
        border: none;
        background-color: $font-color;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: 5px 10px;
        cursor: pointer;
        transition: all 0.5s;
        display: block;
      }

      button:hover {
        background-color: $primary;
      }
    }

    &-active button {
      transform: scale(1.5);
      background-color: $primary;
    }
  }
}

@media (max-width: 1200px) {
  .slider {
    &__title {
      font-size: 34px;
    }

    &__descr {
      font-size: 22px;
      line-height: 24px;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 992px) {
  .slider {
    &__text {
      padding-left: 55px;
    }

    &__title {
      font-size: 28px;
      line-height: 28px;
      margin-bottom: 10px;
    }

    &__descr {
      font-size: 18px;
      line-height: 18px;
      margin-bottom: 10px;
    }

    .slick {
      &-arrow {}

      &-dots {
        button {}

        button:hover {
          background-color: $primary;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .slider {
    &__text {
      width: 50%;
    }

    &__title {
      font-size: 22px;
      line-height: 22px;
    }

    &__descr {
      font-size: 16px;
      line-height: 16px;
      margin-bottom: 7px;
    }
  }
}

@media (max-width: 600px) {
  .slider {
    display: none;
  }
}