.breadcrumbs {
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  display: flex;
  background-color: $primary;
  font-size: 14px;
  white-space: nowrap;

  &__item {
    position: relative;
    padding: 10px;
    color: $white;

    &::after {
      position: absolute;
      content: "";
      background-image: url(../../images/breadcrumbs-sep.svg);
      width: 16px;
      height: 100%;
      right: -7px;
      top: 0;
    }
  }
}
