.contacts {
  width: 100%;
  margin-bottom: 40px;

  &__item {
    margin-bottom: 1px;
    margin-bottom: 10px;
    border: 2px solid $primary;
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    color: $white;
    cursor: pointer;
    background-color: $primary;
    padding: 10px 55px 10px 15px;
    transition: all 0.3s;
    position: relative;
    // text-transform: uppercase;
    // border-radius: 10px;

    &::before,
    &::after {
      position: absolute;
      content: "";
      top: 50%;
      height: 2px;
      width: 8px;
      background-color: $white;
      transition: all 0.3s;
    }

    &::before {
      right: 25px;
      transform: translateY(-50%) rotate(45deg);
    }

    &::after {
      right: 20px;
      transform: translateY(-50%) rotate(-45deg);
    }

    &:hover {
      background-color: transparent;
      color: $primary;

      &::before,
      &::after {
        background-color: $primary;
      }
    }

    &--active {
      &::before {
        transform: translateY(-50%) rotate(-45deg);
      }
      &::after {
        transform: translateY(-50%) rotate(45deg);
      }
    }
  }

  &__content {
    display: none;
    padding: 10px 15px;
    overflow: hidden;
    border-top: 0;
  }
}

@media (max-width: 768px) {
  .contacts__title:hover {
    color: $white;
    background-color: $primary;
    &::before,
    &::after {
      background-color: $white;
    }
  }
}
